@import ../style/config

.home_title
    font-size: 20px
    font-family: $main-font
    text-align: center
    margin-top: 7vh
    color: $taro-font-color

.home_container
    margin: auto
    text-align: center
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    padding: 5vh 4vw 5vh 5vw
    box-sizing: border-box