@import ../../../style/config

.home_box
    // background-color: $taro-lightgrey
    min-height: 30vh
    width: 80vw
    border-radius: 15px
    padding-left: 1vw
    padding-top: 1vw
    animation-name: example
    animation-duration: 4s

@keyframes example
    from
        transform: translateX(0%)
    to
        transform: translateX(-200%)

@keyframes slide-1
    0%
        transform: translate3d(50%, 50%, 50%)
        opacity: 0

    100%
        transform: translate3d(100%, 0, 0)
        opacity: 1

@keyframes slide-2
    0%
        transform: translate3d(0, 0, 0)
        opacity: 0

    100%
        transform: translate3d(200%, 0, 0)
        opacity: 1
