@import components/style/config
@import components/style/utils
@import components/Home/style
@import components/Card/style
@import components/Carousel/style

*
    margin: 0

body
    background-color: $taro-background
    height: 100vh
    width: 100vw
    // overflow: hidden

@font-face 
  font-family: 'Source Code'
  src: local('Source_Code_Pro'), url(./fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf) format('truetype')

@font-face 
  font-family: 'Quicksand'
  src: local('Quicksand'), url(./fonts/Quicksand/Quicksand-Regular.ttf) format('truetype')

@font-face 
  font-family: 'Quicksand Light'
  src: local('Quicksand'), url(./fonts/Quicksand/Quicksand-Light.ttf) format('truetype')
